body {
	background-color: #e6eba8;
}

h1 {
	text-align: center;
	color: #a33fac;
	font-size: 70px;
}

.eggs {
	text-align: center;
	padding-top: 50px;
}

.egg {
	width: 210px;
	height: 300px;
	border-radius: 50%/ 60% 60% 38% 38%;
	overflow: hidden;
	display: inline-block;
}

#egg1 {
	animation: egg1-animation 0.8s linear 0s infinite alternate;
}

#egg2 {
	background: radial-gradient(#676cc4 15%, transparent 25%) 0 0,
	radial-gradient(#555eff 15%, transparent 25%) 20px 20px,
	radial-gradient(rgba(206, 193, 193, 0.94) 0%, transparent 1%) 2px 2px;
	background-size: 40px 40px;
	background-color: rgb(64, 69, 108);
	animation: egg2-animation 1.2s linear 0s infinite alternate;
}

#egg3 {
	animation: egg3-animation 1s linear 0s infinite alternate;
}

#egg1 div {
	height: 12.5%;
}

#egg1 div:nth-child(1) {
	background-color: #ed8080;
}

#egg1 div:nth-child(2) {
	background-color: #6991dd;
}

#egg1 div:nth-child(3) {
	background-color: #80ed84;
}

#egg1 div:nth-child(4) {
	background-color: #e980ed;
}

#egg1 div:nth-child(5) {
	background-color: #ede980;
}

#egg1 div:nth-child(6) {
	background-color: #9d80ed;
}

#egg1 div:nth-child(7) {
	background-color: #b7e2ad;
}

#egg1 div:nth-child(8) {
	background-color: #ff7b36;
}

#egg3 {
	display: inline-flex;
}

#egg3 div:nth-child(1) {
	background-color: #9580ed;
	flex-grow: 1;
}

#egg3 div:nth-child(2) {
	background-color: #fa4040;
	flex-grow: 2;
}

#egg3 div:nth-child(3) {
	background-color: #5cff69;
	flex-grow: 2;
}

#egg3 div:nth-child(4) {
	background-color: #fcf433;
	flex-grow: 1;
}

footer {
	text-align: center;
	margin-top: 100px;
	font-size: 20px;
	color: coral
}


@keyframes egg1-animation {
	0% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(-10deg);
	}
}

@keyframes egg2-animation {
	0% {
		transform: rotate(5deg);
	}
	100% {
		transform: rotate(15deg);
	}
}

@keyframes egg3-animation {
	0% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(40deg);
	}
}
